@model denemproje.Models.Kategoriler
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Düzeltme</h1>
<form asp-action="Edit">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Kategori Adi</label>
        <input type="text" class="form-control" asp-for="KategoriAd" aria-describedby="emailHelp">
        
    </div>
    <input type="hidden" asp-for="KategoriId" />
    <button type="submit" class="btn btn-primary">Düzelt</button>
</form>

