@model List<denemproje.Models.Kategoriler>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>
<partial name="_MesajPartial" />
<a asp-action="Create" class="btn btn-primary">Yeni Kayıt</a>
<table class="table">
    <thead>
        <td>Sıra No</td>
        <td>Kategori Adı</td>
        <td>Düzeltme</td>
        <td>Silme</td>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.KategoriId</td>
                <td>@item.KategoriAd</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.KategoriId" class="btn btn-success">Düzelt</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.KategoriId" class="btn btn-danger">Silme</a>
                </td>
            </tr>
        }
        
    </tbody>
</table>
