@model denemproje.Models.Renkler
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create</h1>
<form asp-action="Create">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Renk Adi</label>
        <input type="text" class="form-control" asp-for="RenkAd" aria-describedby="emailHelp">
        
    </div>
    <button type="submit" class="btn btn-primary">Ekle</button>
</form>

